#profiilikuva {
	width: 220px;
	position: absolute;
	top: 10px;
	left: 15px;
}

main {
 	font-family: serif;
	text-align: left;
	color: #000066;
  	position: absolute;
  	left: 270px;
	right: 270px;
  	top: 100px;
}

nav {
	font-family: serif;
	position: fixed;
	left: 0;
	width: 250px;;
	height: 100%;
  	color:#000066;
	background: #9999ff;
	text-align:left;
	padding-left: 20px;
}

.navilinkit {
  position: absolute;
  top: 200px;
  left: 0px;
  color:#000066;
}

header h1 {
  position: absolute;
  left: 270px;
  font-family: 'Alegreya';
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(
    to left, 
    #000066, 
    #9999ff
    );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
    
h4 {
  margin-left: 10px;
}
    
.Dark-Forest-Game {
  position: relative;
  overflow: hidden;
  padding-top: 200%;
}
    
.wrapped-iframe {
  position: absolute;
  top: 0;
  width: 360px;
  height: 800px;
  border: 0;
}
    
ul {
  list-style-type: none;
  left: 0;
  padding: 0;
  color:#000066;
}
    
li {
  left: 0px;
  border-bottom: 1px solid #000066;
  text-align: center;
  padding: 1px;
  height: 40px;
  padding-top: 10px;
  color:#000066;
}
    
li a {
  color: #000066;
  display: block;
  width: 248px;
  left: 0px;
  background-size: 200% 100%;
  background-position: -100%;
  display: block;
  position: relative;    
}
    
li a:before {
  background-image: linear-gradient(
    to right, 
    #000066, 
    #9999ff
    );
  content: '';
  color:#000066;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 35px;
  transition: all 0.3s ease-in-out;  
}
    
li a:hover {      
  text-decoration: none;
  background-position: 0;
  color:#000066;
}
  
li a:hover::before {
  width:100%;
}
